<!--<form action="{% url 'club' %}" method="post">-->
                                <!--{% csrf_token %}-->

<!--<div class="col-sm-3 multi-gd-img">-->
										<!--<ul class="multi-column-dropdown">-->
											<!--<li><a href="{% url 'club' %}">Roboyantriki</a></li>-->
											<!--<li><a href="{% url 'club' %}">Faction</a></li>-->
											<!--<li><a href="{% url 'club' %}">SNU MUN Society</a></li>-->
											<!--<li><a href="{% url 'club' %}">TedX</a></li>-->
											<!--<li><a href="{% url 'club' %}">Genesis Life Sciences</a></li>-->
											<!--<li><a href="{% url 'club' %}">Entrepreneurship Cell</a></li>-->
											<!--<li><a href="{% url 'club' %}">Design Club</a></li>-->
											<!--<li><a href="{% url 'club' %}">ASME SNU</a></li>-->
											<!--<li><a href="{% url 'club' %}">Birding Society</a></li>-->
										<!--</ul>-->
									<!--</div>-->
									<!--<div class="col-sm-3 multi-gd-img">-->
										<!--<ul class="multi-column-dropdown">-->
											<!--<li><a href="{% url 'club' %}">SPIC MACAY</a></li>-->
											<!--<li><a href="{% url 'club' %}">Dhruva Society</a></li>-->
											<!--<li><a href="{% url 'club' %}">Words.ink</a></li>-->
											<!--<li><a href="{% url 'club' %}">Mythia</a></li>-->
											<!--<li><a href="{% url 'club' %}">SAE SNU</a></li>-->
											<!--<li><a href="{% url 'club' %}">Orion Snuces</a></li>-->
											<!--<li><a href="{% url 'club' %}">Physics Society</a></li>-->
											<!--<li><a href="{% url 'club' %}">Mathematical Society</a></li>-->
											<!--<li><a href="{% url 'club' %}">Campus Caravan</a></li>-->
										<!--</ul>-->
									<!--</div>-->

<!--<li><a href="{% url 'club' %}">Imprints</a></li>-->
											<!--<li><a href="{% url 'club' %}">Inferno</a></li>-->
											<!--<li><a href="{% url 'club' %}">Stimulus @SNU</a></li>-->
											<!--<li><a href="{% url 'club' %}">SNU Queer Collective</a></li>-->
											<!--<li><a href="{% url 'club' %}">Kalakriti</a></li>-->
											<!--<li><a href="{% url 'club' %}">Sigree</a></li>-->
											<!--<li><a href="{% url 'club' %}">Aura The Light</a></li>-->

<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="{% url 'club' %}">Adventure Club</a></li>
											<li><a href="{% url 'club' %}">SNU ACM</a></li>
											<li><a href="{% url 'club' %}">SNU IEEE</a></li>
											<li><a href="{% url 'club' %}">Society H2O</a></li>
											<li><a href="{% url 'club' %}">Feeding India</a></li>
											<li><a href="{% url 'club' %}">ECO Society</a></li>
											<li><a href="{% url 'club' %}">Totem Pole</a></li>
											<li><a href="{% url 'club' %}"Shilpkulam</a></li>
											<li><a href="{% url 'club' %}">Finance Society</a></li>
										</ul>
									</div>


				<li>
									<div class="agileits-banner-info">
										<h3>Commercial Remodeling</h3>
										<p>Sed tempus efficitur ex et elementum. Nulla at diam blandit, posuere dui vel, tempor arcu. Nulla varius.</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#" data-toggle="modal" data-target="#myModal">About Us</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>Home Renovation</h3>
										<p>Etiam ut maximus mauris, eu pretium neque. Donec nibh lectus, blandit id metus non, bibendum dictum quam.</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#" data-toggle="modal" data-target="#myModal">About Us</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>Bath Remodeling</h3>
										<p>Sed tempus efficitur ex et elementum. Nulla at diam blandit, posuere dui vel, tempor arcu. Nulla varius.</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#" data-toggle="modal" data-target="#myModal">About Us</a>
											</div>
										</div>
									</div>
								</li>