<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
-
<html lang="en">
<head>
<title>Interior Style an Interior Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Interior Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/ClubStyle.css'%}" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
<!-- //font -->
<script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<!-- banner -->
	<div class="banner jarallax">
			<div class="w3layouts-header-top">
				<div class="container">
					<div class="w3-header-top-grids">
						<div class="w3-header-top-left">
							<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91 9891599121</p>
						</div>
						<div class="w3-header-top-right">
							<div class="agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	<!--								<li><a href="#"><i class="fa fa-rss"></i></a></li>
									<li><a href="#"><i class="fa fa-vk"></i></a></li>
	-->
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="head">
				<div class="container">
					<div class="navbar-top">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								 <div class="navbar-brand logo ">
									<h1><a href="index.html">Event <span>Manager</span></a></h1>
								</div>

							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							 <ul class="nav navbar-nav link-effect-4">
							<li class="active"><a href="index.html">Home</a> </li>
								<li><a href="about.html">About </a> </li>
								<li><a href="gallery.html">Gallery</a></li>
								<li class="dropdown">
									<a href="codes.html" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Icons</a></li>
										<li><a href="codes.html">Codes</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							  </ul>
							</div><!-- /.navbar-collapse -->
					</div>
				</div>
			</div>
			<div class="w3layouts-banner-slider">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
										<h3>{{x.clubname}}</h3>
										<p>Etiam ut <maxi></maxi>mus mauris, eu pretium neque. Donec nibh lectus, blandit id metus non, bibendum dictum quam.</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#" data-toggle="modal" data-target="#myModal">About Us</a>
											</div>
										</div>
									</div>
								</li>
				
							</ul>
						</div>
						<div class="clearfix"> </div>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<div class="w3-heading-grid">
				<h2>Welcome</h2>
				<div class="agileits-border"> </div>
				<p>Introductory Lines</p>
			</div>
			<div class="w3l-welcome-grids">
				<div class="col-md-5 w3ls-welcome-left">
					<img src="{{x.image}}" alt="" />
				</div>
				<div class="col-md-7 w3ls-welcome-right">
					<h4>Morbi vestibulum odio eget turpis aliquet dictum</h4>
					<p>Sed tempus efficitur ex et elementum. Nulla at diam blandit, posuere dui vel, tempor arcu. Nulla varius dictum lorem, et laoreet ipsum. Nunc eget sem rutrum, dictum dolor id, rhoncus justo.
						<span>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi tempus urna at tincidunt sodales. Sed pellentesque lacinia dui in venenatis.</span>
					</p>
					<ul>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> Aenean pulvinar augue</li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> Proin aliquam dui sollicitudin</li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> Etiam convallis gravida felis</li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> Vivamus sed tempor orci</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- popular -->
	<div class="popular-section-wthree jarallax">
		<div class="agileinfo-dot">
			<div class="container">
				<div class="w3-heading-grid popular-heading">
					<h3>HighLights</h3>
					<div class="agileits-border"> </div>
				</div>
				<div class="popular-agileinfo">
					<div class="col-md-3 popular-grid">
						<i class="fa fa-camera-retro" aria-hidden="true"></i>
						<h4>First of a Kind</h4>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>
					</div>
					<div class="col-md-3 popular-grid">
						<i class="fa fa-first-order" aria-hidden="true"></i>
						<h4>Nulla varius</h4>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>
					</div>
					<div class="col-md-3 popular-grid popular-grid-bottom">
						<i class="fa fa-book" aria-hidden="true"></i>
						<h4>Morbi tempus</h4>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>
					</div>
					<div class="col-md-3 popular-grid">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						<h4>Approval Ratings</h4>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //popular -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="w3-heading-grid">
					<h3>News & Events</h3>
					<div class="agileits-border"> </div>
				</div>
			<div class="news-agileinfo">
				<div class="col-md-4 news-right agileits-w3layouts">
					<h4>All Events</h4>
					<div class="achievesw3-agile">
						<ul>
							{% for i in eventsConducted %}
								<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>{{i.eventName}}</a></li>
							{% endfor %}
							<li><a href="/event/1/" data-toggle="modal" ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Donec tempor odio vitae.</a></li>
							<li><a href="/event/2/" ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Phasellus gravida mi dui. </a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Sitid auctor donec neque.</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet.</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Donec tempor odio vitae.</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Phasellus gravida mi dui. </a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Sitid auctor donec neque.</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Donec neque sitid auctor.</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 news-w3row">
					<div class="wthree-news-grids">
						<div class="col-md-3 col-xs-3 datew3-agileits">
							<img src="{% static 'images/Clubt1.jpg'%}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-9 col-xs-9 datew3-agileits-info ">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque sit amet justo vitae</a></h5>
							<h6>3/05/2017</h6>
							<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="wthree-news-grids news-grids-mdl">
						<div class="col-md-3 col-xs-3 datew3-agileits datew3-agileits-fltrt">
							<img src="{% static 'images/Clubt2.jpg'%}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-9 col-xs-9 datew3-agileits-info datew3-agileits-info-fltlft">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque sit amet justo vitae</a></h5>
							<h6>5/05/2017</h6>
							<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="wthree-news-grids">
						<div class="col-md-3 col-xs-3 datew3-agileits">
							<img src="{% static 'images/Clubt3.jpg'%}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-9 col-xs-9 datew3-agileits-info ">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque sit amet justo vitae</a></h5>
							<h6>8/05/2017</h6>
							<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->
			<!-- subscribe -->
<!--		<div class="subscribe jarallax">
		<div class="agileinfo-dot">
			<div class="container">
				<div class="w3-heading-grid">
						<h3>Subscribe</h3>
						<div class="agileits-border"> </div>
						<p>Subscribe to our email newsletter to receive updates</p>
					</div>
				<div class="subscribe-grid">
					<form action="#" method="post">
						<input type="email" placeholder="Subscribe" name="Subscribe" required="">
						<button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>					-->
	<!-- //subscribe -->

	<!-- banner-bottom -->
	<div class="banner-bottom" id="indro">
		<div class="container">
			<div class="wthree-bottom-grids">
				<div class="col-md-6 wthree-bottom-grid">
					<div class="w3-agileits-bottom-left">
						<div class="w3-agileits-bottom-left-text">
							<h3>Event 1</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia lectus vel neque pretium viverra id quis sapien. Praesent vel ante leo. Quisque dapibus finibus massa</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 wthree-bottom-grid gbg">
					<div class="w3-agileits-bottom-left w3-agileits-bottom-right">
						<div class="w3-agileits-bottom-left-text">
							<h3>Event 2</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia lectus vel neque pretium viverra id quis sapien. Praesent vel ante leo. Quisque dapibus finibus massa</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner-bottom -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					About Us
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<img src="{% static 'images/Club1.jpg'%}" alt=" " class="img-responsive" />
						<p> Members of the Club
							<i> Core- Committe </i>
							<i> Faculty Advisor </i>
							<p> Or any other relevant info that the club wants to include.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-4 agile-footer-grid">
					<h4>Club Name</h4>
					<p>Pellentesque urna ex, ultricies a nunc at, pretium maximus nisi. Vestibulum non auctor diam. Mauris eget consectetur mauris. <span>Aenean leo elit, accumsan vel elit vitae, mattis ultricies lacus. Cras consectetur justo lorem, sed dictum sapien eleifend at.</span></p>
				</div>
				<div class="col-md-4 agile-footer-grid">
					<h4>Facebook Posts</h4>
					<ul class="w3agile_footer_grid_list">
						<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://example.com</a> alias, ut aut reiciendis.
							<span><i class="fa fa-facebook" aria-hidden="true"></i>&#160;&#160; 02 days ago</span></li>
						<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://mail.com</a> ut aut
							voluptatibus.<span><i class="fa fa-facebook" aria-hidden="true"></i>&#160;&#160; 03 days ago</span></li>
					</ul>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Upcoming Events</h4>
					<ul>
						<li>12th Feb <a href="#" data-toggle="modal" data-target="#myModal">Curabitur</a></li>
						<li>10th Mar <a href="#" data-toggle="modal" data-target="#myModal">Fusce urna</a></li>
						<li>24th Mar <a href="#" data-toggle="modal" data-target="#myModal">Praesent</a></li>
						<li>17th Apr <a href="#" data-toggle="modal" data-target="#myModal">Malesuada </a></li>
						<li>09th May <a href="#" data-toggle="modal" data-target="#myModal">Cum sociis</a></li>
					</ul>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Navigation</h4>
					<ul>
						<li class="text"><a href="index.html">Home</a></li>
						<li class="text"><a href="about.html">About</a></li>
						<li class="text"><a href="icons.html">Icons</a></li>
						<li class="text"><a href="codes.html">Typography</a></li>
						<li class="text"><a href="gallery.html">Gallery</a></li>
						<li class="text"><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="agileits-w3layouts-copyright">
		<div class="container">
			<p>© 2017 Event Manager. All rights reserved </p>
		</div>
	</div>
	<!-- //copyright -->

	<script src="{% static 'js/jarallax.js'%}"></script>
	<script src="{% static 'js/SmoothScroll.min.js'%}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
</body>
</html>
