<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
-
<html>
<head>
<title>Event Manager</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Manager Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="{% static 'css/_all.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/aero.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/blue.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/green.css' %}" rel="stylesheet" type='text/css' media="all">
<link href="{% static 'css/grey.css' %}" rel='stylesheet' type='text/css' media="all"/>
<link href="{% static 'css/orange.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/pink.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/purple.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/red.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/yellow.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/line.css' %}" rel="stylesheet" type="text/css" media="all" />

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/Helper.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
    <script src="{% static 'js/icheckTagModal.js' %}"></script>
    <link href="{% static 'css/redTagModal.css' %}" rel="stylesheet">
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<!--	<style>
div.sign_in{
	position: relative;
	left: -200px;
}
</style>					-->
<script type="text/javascript" src="{% static 'js/icheckTagModal.js' %}"></script>

</head>
<body>
<!-- header -->
<!-- //header -->
<!-- banner -->


<!-- Adding SignIn and SignUp Modals -->
<!-- Modal1 -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                            <form action="/login/" method="post">
							    {% csrf_token %}
									 {% for field in form1 %}
							        	<div class="styled-input agile-styled-input-top">
                                            <!--<input type="text" name="{{ field.name }}" required="">-->
											<!--<div class="styled-input">-->
											{{ field }}
											<label><em>{{field.name}}</em></label>
											<span></span>
                                        </div>
									{% endfor %}
                                <p class="b-1-black">

										{% if form1.non_field_errors %}
									    <ul class='form-errors'>
									        {% for error in form1.non_field_errors %}
									            <li>{{ error }}</li>
									        {% endfor %}
									    </ul>
									{% endif %}</p>
								{{ form.path }}
                                    <!--<input type="submit" value="Sign up">-->
                                <!--</form>-->
                                <!--<div class="styled-input agile-styled-input-top">-->
								<!--<input type="text" name="Email" required="">-->
								<!--<label><em>Email</em></label>-->
								<!--<span></span>-->
							<!--</div>-->
							<!--<div class="styled-input">-->
								<!--<input type="password" name="Password" required="">-->
								<!--<label><em>Password</em></label>-->
								<!--<span></span>-->
							<!--</div>-->
                                {{ form.path }}
								<a href="{% url 'ForgotPass' %}" >Forgot Password??</a>
								<br>
							<input type="submit" value="Sign In">
						</form>
							<br>
	                          <!--<ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">-->
															<!--<li><a href="#" class="facebook">-->
																  <!--<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="twitter">-->
																  <!--<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="instagram">-->
																  <!--<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="pinterest">-->
																  <!--<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>-->
                              <!--</ul>-->

														<div class="clearfix"></div>
														<p><a href="#" data-toggle="modal" data-target="#myModal6" > Don't have an account?</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->
<!-- Modal2 -->
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
                                <form action="/register/" method="post">
									{% csrf_token %}
									 {% for field in form %}
							        	<div class="styled-input agile-styled-input-top">
										<label>{{ field.name }}</label><br>
										{{ field }}
										<span></span>
										</div>
									{% endfor %}
                                    <p class="b-1-black">

										{% if form.non_field_errors %}
									    <ul class='form-errors'>
									        {% for error in form.non_field_errors %}
									            <li>{{ error }}</li>
									        {% endfor %}
									    </ul>
									{% endif %}</p>
                                    <input type="submit" value="Sign up" >
                                    <!--<p><a href="/register/" data-toggle="modal" data-target="#myModal3"> SignUp </a></p>-->
                                    <!--<p><a href="/register/"> SignUp </a></p>-->
                                </form>
							<br>
                            <!--<form action="/signup" method="post">-->
                            <!--{% for field in form %}-->
                            <!--<div class="styled-input agile-styled-input-top">-->
								<!--&lt;!&ndash;{{ field }}&ndash;&gt;-->
                                <!--<input type="text" name="{{field.name}}" required="">-->
								<!--<label>{{field.name}}</label>-->
								<!--<span></span>-->
							<!--</div>-->
                            <!--{% endfor %}-->
							<!--<div class="styled-input">-->
								<!--<input type="text" name="Username" required="">-->
								<!--<label>Username</label>-->
								<!--<span></span>-->
							<!--</div>-->
							<!--<div class="styled-input">-->
								<!--<input type="email" name="Email" required="">-->
								<!--<label>Email</label>-->
								<!--<span></span>-->
							<!--</div>-->
							<!--<div class="styled-input">-->
								<!--<input type="password" name="password" required="">-->
								<!--<label>Password</label>-->
								<!--<span></span>-->
							<!--</div>-->
							<!--<div class="styled-input">-->
								<!--<input type="password" name="Confirm Password" required="">-->
								<!--<label>Confirm Password</label>-->
								<!--<span></span>-->
							<!--</div>-->
							<!--<input type="submit" value="Sign Up">-->
						<!--</form>-->
						  <!--<ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">-->
															<!--<li><a href="#" class="facebook">-->
																  <!--<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="twitter">-->
																  <!--<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="instagram">-->
																  <!--<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>-->
															<!--<li><a href="#" class="pinterest">-->
																  <!--<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
																  <!--<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>-->
														<!--</ul>-->
                                            <div class="clearfix"></div>
                                            <p>By clicking register, you agree to our <a href=#>usage policy.</a></p>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->






<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile" >
							<div class="col-md-12 modal_body_left modal_body_left1">
							<h3 class="agileinfo_sign">What is your<span> Passion</span></h3>
						</div>

                            <form action="{% url 'sel_tag' %}" method="post">
                                {% csrf_token %}
                            <div class="container row" style="height: 500px;  max-width: 500px;">
						<div class="col-md-4 ">
                            <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>TECHNOLOGY</label>
                                <input type="checkbox" name="recommendations" value="Sports">
                                <label>SPORTS</label>
                                <input type="checkbox" name="recommendations" value="CSE">
                                <label>COMPUTER SCIENCE</label>
                                <input type="checkbox" name="recommendations" value="Travel">
                                <label>TRAVEL</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FOOD</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FASHION</label>
						 <!--<input type="submit" value="Submit"> -->
						<div class="clearfix"></div>
						<p><a href="#"></a></p>
						</div>
						<div class="col-md-4 " style="background: #900;">
								<input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>BEAUTY</label><br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>GAMES</label><br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>MANAGEMENT</label><br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FINANCE</label><br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>BUSINESS</label><br>

								<br></br>

						<!--<input type="submit" value="Submit">-->
						<div class="clearfix"></div>
						<p><a href="#"></a></p>

						</div>
						<div class="col-md-4">

								<input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>EDUCATION</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY" >
                                <label>CELEBRITY</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>HISTORY</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>DESIGN</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>WEATHER</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>PHOTOGRAPHY</label>

						<!-- <input type="submit" value="Submit"> -->
                                <div class="clearfix"></div>
                                <p><a href="#"></a></p>

						</div>
						<div class="clearfix"></div>
                        </div>
                        <input type="submit" value="Submit">
                            </form>
                        </div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>

<div class="ban-top" style="margin-top: 0px;">
	<div class="container" style="margin-top: 0px; top: 0;">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list" >
					<li class="active menu__item menu__item--current"><a class="menu__link" href="index.html">Home <span class="sr-only">(current)</span></a></li>
					<!-- <li class=" menu__item"><a class="menu__link" href="about.html">About</a></li>
 -->					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Club<span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">

											<!-- Links here have to be changed to redirect to club.html  -->


											<!--<input type="checkbox" name="recommendations" value="TECHNOLOGY">-->
                                <!--<label>EDUCATION</label>-->


											<li name="club" value="snuphoria"><a href="/clubs/snuphoria/">Snuphoria</a></li>
											<li><a href="/clubs/inspiria/">Inspiria</a></li>

										</ul>
									</div>


									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class=" menu__item"><a class="menu__link scroll" href="#gallery">Gallery</a></li>
					<li class=" menu__item"><a class="menu__link scroll" href="#team">Our Team</a></li>
					<li class=" menu__item"><a class="menu__link" href="#about">About</a></li>

			<!--		<li class=" menu__item"><a class="menu__link scroll" href="#contact">Contact</a></li>				-->
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<li class=" menu__item" style="position: absolute; right:20px;">
			<button id="btx1">Click ME</button>
			<!-- <div class="header" id="home"> -->
			<!-- <div class="container"> -->
				<ul>
					{% if user.is_authenticated %}
		    	<p class="text-white"> Welcome {{ user.username }} !!</p>
		    	<p><a href="/logout"><button class="btn btn-primary">Logout</button></a></p>
		    	{% else %}

                    <p><a href="#" data-toggle="modal" data-target="#myModal6"> SignUp </a></p>
		    	<!--<p><a href="/login"><button class="btn btn-primary w-90 p-3">Login</button></a></p>-->
                <!--<li> <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tags </a></li>-->
					<li> <a href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Login </a></li>
		    	<!-- <p><a href="/register"><button class="btn btn-success w-90">Register</button></a></p> -->
		    	{% endif %}
				</ul>
				<!-- </div> -->
			<!-- </div> -->
		</li>
			
		<div class="clearfix"></div>

	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
									<form action="#" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="Email" required="">
								<label><em>Email</em></label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="password" name="Password" required="">
								<label><em>Password</em></label>
								<span></span>
							</div>
							<input type="submit" value="Sign In">
						</form>
	<!--			  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
							-->
														<div class="clearfix"></div>
														<p><a href="#" data-toggle="modal" data-target="#myModal5" > Don't have an account?</a></p>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->
<!-- Modal2 -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<!--<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
						<form action="#" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="Name" required="">
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="Username" required="">
								<label>Username</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="Email" required="">
								<label>Email</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="password" name="password" required="">
								<label>Password</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="password" name="Confirm Password" required="">
								<label>Confirm Password</label>
								<span></span>
							</div>
							<input type="submit" value="Sign Up">
						</form>
					-->
<!--
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
-->
														<div class="clearfix"></div>
														<p>By clicking register, you agree to our <a href=#>usage policy.</a></p>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->

<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href=" ">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Summer <span>Collection</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href=" ">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href=" ">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Summer <span>Collection</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href=" ">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href=" ">Shop Now </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
    </div>
	<!-- //banner -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
				<h3 class="wthree_text_info">CL<span>UBS</span></h3>
          <div class="banner_bottom_agile_info_inner_w3ls">
           <div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					 <div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >
					 <figure class="effect-roxy">
						 <img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />
						 <figcaption>
							 <h3><span>F</span>all Ahead</h3>
							 <p>New Arrivals</p>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >
					<figure class="effect-roxy">
						<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>
							<h3><span>F</span>all Ahead</h3>
							<p>New Arrivals</p>
						</figcaption>
					</figure>
				</div>
					<div class="clearfix"></div>
		    </div>
				<!--<div class="banner_bottom_agile_info_inner_w3ls">-->
				 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
					<!--<figure class="effect-roxy">-->
						<!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
						<!--<figcaption>-->
							<!--<h3><span>F</span>all Ahead</h3>-->
							<!--<p>New Arrivals</p>-->
						<!--</figcaption>-->
					<!--</figure>-->
				<!--</div>-->
				 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
					<!--<figure class="effect-roxy">-->
						<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
						<!--<figcaption>-->
							<!--<h3><span>F</span>all Ahead</h3>-->
							<!--<p>New Arrivals</p>-->
						<!--</figcaption>-->
					<!--</figure>-->
				<!--</div>-->
				<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
				 <!--<figure class="effect-roxy">-->
					 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
					 <!--<figcaption>-->
						 <!--<h3><span>F</span>all Ahead</h3>-->
						 <!--<p>New Arrivals</p>-->
					 <!--</figcaption>-->
				 <!--</figure>-->
			 <!--</div>-->
			 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
				<!--<figure class="effect-roxy">-->
					<!--<img src="{% static 'images/bottom1.jpg' %}"alt=" " class="img-responsive" />-->
					<!--<figcaption>-->
						<!--<h3><span>F</span>all Ahead</h3>-->
						<!--<p>New Arrivals</p>-->
					<!--</figcaption>-->
				<!--</figure>-->
			<!--</div>-->
				<!--<div class="clearfix"></div>-->
			<!--</div>-->
			<!--<div class="banner_bottom_agile_info_inner_w3ls">-->
			 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
				<!--<figure class="effect-roxy">-->
					<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
					<!--<figcaption>-->
						<!--<h3><span>F</span>all Ahead</h3>-->
						<!--<p>New Arrivals</p>-->
					<!--</figcaption>-->
				<!--</figure>-->
			<!--</div>-->
			 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
				<!--<figure class="effect-roxy">-->
					<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
					<!--<figcaption>-->
						<!--<h3><span>F</span>all Ahead</h3>-->
						<!--<p>New Arrivals</p>-->
					<!--</figcaption>-->
				<!--</figure>-->
			<!--</div>-->
			<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
			 <!--<figure class="effect-roxy">-->
				 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
				 <!--<figcaption>-->
					 <!--<h3><span>F</span>all Ahead</h3>-->
					 <!--<p>New Arrivals</p>-->
				 <!--</figcaption>-->
			 <!--</figure>-->
		 <!--</div>-->
		 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
			<!--<figure class="effect-roxy">-->
				<!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
				<!--<figcaption>-->
					<!--<h3><span>F</span>all Ahead</h3>-->
					<!--<p>New Arrivals</p>-->
				<!--</figcaption>-->
			<!--</figure>-->
		<!--</div>-->
		<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
		 <!--<figure class="effect-roxy">-->
			 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
			 <!--<figcaption>-->
				 <!--<h3><span>F</span>all Ahead</h3>-->
				 <!--<p>New Arrivals</p>-->
			 <!--</figcaption>-->
		 <!--</figure>-->
	 <!--</div>-->
		<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
		 <!--<figure class="effect-roxy">-->
			 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
			 <!--<figcaption>-->
				 <!--<h3><span>F</span>all Ahead</h3>-->
				 <!--<p>New Arrivals</p>-->
			 <!--</figcaption>-->
		 <!--</figure>-->
	 <!--</div>-->
	 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
		<!--<figure class="effect-roxy">-->
			<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
			<!--<figcaption>-->
				<!--<h3><span>F</span>all Ahead</h3>-->
				<!--<p>New Arrivals</p>-->
			<!--</figcaption>-->
		<!--</figure>-->
	<!--</div>-->
	<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
	 <!--<figure class="effect-roxy">-->
		 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
		 <!--<figcaption>-->
			 <!--<h3><span>F</span>all Ahead</h3>-->
			 <!--<p>New Arrivals</p>-->
		 <!--</figcaption>-->
	 <!--</figure>-->
 <!--</div>-->
	 <!--<div class="clearfix"></div>-->
 <!--</div>-->
 <!--<div class="banner_bottom_agile_info_inner_w3ls">-->
	<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
	 <!--<figure class="effect-roxy">-->
		 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
		 <!--<figcaption>-->
			 <!--<h3><span>F</span>all Ahead</h3>-->
			 <!--<p>New Arrivals</p>-->
		 <!--</figcaption>-->
	 <!--</figure>-->
 <!--</div>-->
	<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
	 <!--<figure class="effect-roxy">-->
		 <!--<img src="{% static 'images/bottom2.jpg' %}"alt=" " class="img-responsive" />-->
		 <!--<figcaption>-->
			 <!--<h3><span>F</span>all Ahead</h3>-->
			 <!--<p>New Arrivals</p>-->
		 <!--</figcaption>-->
	 <!--</figure>-->
 <!--</div>-->
 <!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
	<!--<figure class="effect-roxy">-->
		<!--<img src="{% static 'images/bottom2.jpg' %}"alt=" " class="img-responsive" />-->
		<!--<figcaption>-->
			<!--<h3><span>F</span>all Ahead</h3>-->
			<!--<p>New Arrivals</p>-->
		<!--</figcaption>-->
	<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
 <!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="banner_bottom_agile_info_inner_w3ls">-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
	<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
	<!--<figcaption>-->
		<!--<h3><span>F</span>all Ahead</h3>-->
		<!--<p>New Arrivals</p>-->
	<!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
 <!--<figcaption>-->
	 <!--<h3><span>F</span>all Ahead</h3>-->
	 <!--<p>New Arrivals</p>-->
 <!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
	<!--<img src="{% static 'images/bottom2.jpg' %}"alt=" " class="img-responsive" />-->
	<!--<figcaption>-->
		<!--<h3><span>F</span>all Ahead</h3>-->
		<!--<p>New Arrivals</p>-->
	<!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
 <!--<figcaption>-->
	 <!--<h3><span>F</span>all Ahead</h3>-->
	 <!--<p>New Arrivals</p>-->
 <!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
 <!--<figure class="effect-roxy">-->
	 <!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
	 <!--<figcaption>-->
		 <!--<h3><span>F</span>all Ahead</h3>-->
		 <!--<p>New Arrivals</p>-->
	 <!--</figcaption>-->
 <!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
	<!--<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />-->
	<!--<figcaption>-->
		<!--<h3><span>F</span>all Ahead</h3>-->
		<!--<p>New Arrivals</p>-->
	<!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--<div class="col-md-3 wthree_banner_bottom_grid_three_left1 grid" >-->
<!--<figure class="effect-roxy">-->
 <!--<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />-->
 <!--<figcaption>-->
	 <!--<h3><span>F</span>all Ahead</h3>-->
	 <!--<p>New Arrivals</p>-->
 <!--</figcaption>-->
<!--</figure>-->
<!--</div>-->

			<!--<div class="clearfix"></div>-->
		<!--</div>-->
		 <!--</div>-->
    <!--</div>-->
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info" id="gallery">Image <span>Gallery</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="wo ">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="{% static 'images/bb1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href=" ">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="{% static 'images/bottom3.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href=" ">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom4.jpg' %}" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 65%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
		<!-- team -->
		<div id="team" class="team">
			<div class="container">
				<h3 class="wthree_text_info">OUR <span>TEAM</span></h3>
				</div>
				<div class="w3_agile_team_grids">
					<div class="col-md-3 w3_agile_team_grid">
						<div class="hover14 column">
							<figure><img src="{% static 'images/6.jpg' %}" alt=" " class="img-responsive" /></figure>
						</div>
						<h3>Ankit Kumar</h3>
						<p>Designer</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 w3_agile_team_grid">
						<div class="hover14 column">
							<figure><img src="{% static 'images/71.jpg' %}" alt=" " class="img-responsive" /></figure>
						</div>
						<h3>Shubham Agarwal</h3>
						<p>Designer</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 w3_agile_team_grid">
						<div class="hover14 column">
							<figure><img src="{% static 'images/81.jpg' %}" alt=" " class="img-responsive" /></figure>
						</div>
						<h3>Pulkit Luthra</h3>
						<p>Designer</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 w3_agile_team_grid">
						<div class="hover14 column">
							<figure><img src="{% static 'images/91.jpg' %}" alt=" " class="img-responsive" /></figure>
						</div>
						<h3>Abhik sarkar</h3>
						<p>Designer</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- team -->
<!-- footer -->
<div class="footer" id="about">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-3 footer-left">
			<h2><a href="index.html">Event Manager </a></h2>
			<p>We help you choose events best suited for your time and need</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4><span>MENU</span> </h4>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href=" ">Clubs</a></li>
						<li><a href="wo ">Image Gallery</a></li>
						<li><a href="typography.html">Our Team</a></li>
	<!--					<li><a href="contact.html">Contact</a></li>  				-->
					</ul>
				</div>

				<div class="col-md-5 sign-gd-two">
					<h4>Contact <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6><i class="fa fa-mobile" aria-hidden="true"></i> +91 9891599121</h6>

							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email :<a href="mailto:feedback@stdevent.com"> feedback@stdevent.com</a></h6>

							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Shiv Nadar University, NH91, Tehsil Dadri, Gautam Buddha Nagar, Uttar Pradesh - 201314

								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
<!--			<div class="agile_newsletter_footer">
					<div class="col-sm-6 newsleft">
				<h3>SIGN UP FOR NEWSLETTER !</h3>
			</div>
			<div class="col-sm-6 newsright">
				<form action="#" method="post">
					<input type="email" placeholder="Enter your email..." name="email" required="">
					<input type="submit" value="Submit">
				</form>
			</div>
		<div class="clearfix"></div>
	</div>
-->
<p class="copy-right"> <i class="fa fa-copyright" aria-hidden="true"></i>2017 Event Manager | All rights reserved</p>
	</div>
</div>
<!-- //footer -->

<!-- login -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
								<div class="login">
									<div class="login-bottom">
										<h3>Sign up for free</h3>
										<form>
											<div class="sign-up">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
											</div>
											<div class="sign-up">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

											</div>
											<div class="sign-up">
												<h4>Re-type Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

											</div>
											<div class="sign-up">
												<input type="submit" value="REGISTER NOW" >
											</div>

										</form>
									</div>
									<div class="login-right">
										<h3>Sign in with your account</h3>
										<form>
											<div class="sign-in">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
											</div>
											<div class="sign-in">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												<a href="#">Forgot password?</a>
											</div>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<div class="sign-in">
												<input type="submit" value="SIGNIN" >
											</div>
										</form>
									</div>
									<div class="clearfix"></div>
								</div>
								<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<!-- Custom-JavaScript-File-Links -->
	<!-- cart-js -->
	<script src="{% static 'js/minicart.min.js' %}"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});
	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js -->
<!-- script for responsive tabs -->
<script src="{% static 'js/easy-responsive-tabs.js' %}"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->
<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({ easingType: 'easeOutQuart' });
			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
		<script type="text/javascript">
			{% if user.is_authenticated %}
				document.getElementById('btx1').onclick= function(){
					location.href = "/profile"
				}
			{% else %}
			document.getElementById('btx1').onclick= function(){
					$('#myModal1').modal('show');
				}
			{% endif %}
		</script>
</body>
</html>