{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Select your Tags</title>
<link href="{% static 'css/_all.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/aero.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/blue.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/green.css' %}" rel="stylesheet" type='text/css' media="all">
<link href="{% static 'css/grey.css' %}" rel='stylesheet' type='text/css' media="all"/>
<link href="{% static 'css/orange.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/pink.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/purple.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/red.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/yellow.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/line.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="{% static 'js/icheck.js' %}"></script>
</head>
<body>
    <!--<div class="header" id="home">-->
    <div class="container">
        <ul>

        <p>hello</p>
        <p>welcome {{ user.username }}</p>



             <div class="container">
                            <h3 >What is your<span> Passion</span></h3>
                        </div>

                        <div class="container">
                            <form action="{% url 'sel_tag' %}" method="post">
                                {% csrf_token %}
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>TECHNOLOGY</label>
                                <input type="checkbox" name="recommendations" value="Sports">
                                <label>SPORTS</label>
                                <input type="checkbox" name="recommendations" value="Computer Science">
                                <label>COMPUTER SCIENCE</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>TRAVEL</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FOOD</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FASHION</label>
                                <br></br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>BEAUTY</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>GAMES</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>MANAGEMENT</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>FINANCE</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>BUSINESS</label>
                                <br></br>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>EDUCATION</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY" >
                                <label>CELEBRITY</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>HISTORY</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>DESIGN</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>WEATHER</label>
                                <input type="checkbox" name="recommendations" value="TECHNOLOGY">
                                <label>PHOTOGRAPHY</label>

                     <input type="submit"/ value="SUBMIT">
                    </form>        
   
            </div>
        
    
        
    
</div>



</body>
</html>
