<!-- From index.html -->

<li> <a href="#" data-toggle="modal" data-target="#myModal">
					<div class="sign_in"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li></div>
			<li><a href="{% url 'register' %}">SIGN UP</a></li>
			<li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>


	width: 100%;  border: 2px solid purple;
	

